body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
  background: white;
}

#grid {
  width: 420px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  width: 100%;
  height: 100px;
  background: grey;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 80%;
  display: none;
}
